@charset "utf-8";
p{
    font-family:"Fauna One"
        ;font-size: 15px
            ;color:#438696}.titulo}
.parrafo {
}
.socialmedia {
    margin: 10px;
    position: absolute;
    left: 40%;
}
.logoo {
    padding-right: 1000px;
    background-color: #FFFFFF;
    padding-left: 400px;
    padding-top: 0px;
}
